In [1]:
import pandas as pd
import geocoder

In [2]:
q_score = pd.read_csv('Cleaned_Datasets/streetscore_newyorkcity.csv')
q_score.head()

    latitude  longitude    q-score
0  40.700909 -74.013504  11.062166
1  40.701000 -74.013878  10.818611
2  40.701080 -74.012878  12.677955
3  40.701187 -74.013268  11.417325
4  40.701244 -74.012115  25.199091

In [3]:
q_score.shape

(322386, 3)

In [4]:
MN_Data = pd.read_csv('Cleaned_Datasets/MN_Cleaned.csv')
MN_Data.shape

(42957, 37)

In [5]:
BK_Data = pd.read_csv('Cleaned_Datasets/BK_Cleaned.csv')
BK_Data.shape

(277130, 37)

In [6]:
BX_Data = pd.read_csv('Cleaned_Datasets/BX_Cleaned.csv')
BX_Data.shape

(89829, 37)

In [7]:
SI_Data = pd.read_csv('Cleaned_Datasets/SI_Cleaned.csv')
SI_Data.shape

(124047, 37)

In [8]:
QN_Data = pd.read_csv('Cleaned_Datasets/QN_Cleaned.csv')
QN_Data.shape

(324402, 37)